
@import url('https://fonts.googleapis.com/css?family=Open+Sans: 400,700|Raleway: 400,700&display=swap');

$mobile: 375px;
$desktop: 1440px;

$darkBlue: hsl(217, 28%, 15%);
$darkBlueBackground: hsl(218, 28%, 13%);
$darkBlueFooter:  hsl(216, 53%, 9%);
$darkBlueTestimonial: hsl(219, 30%, 18%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$white: hsl(0, 0%, 100%);


body {
    max-width: $desktop;
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', ;
    background-color: $darkBlue;
    box-sizing: border-box;
    font-size: 14px;
}

header {
    img {
        margin-top: 4.5rem;
        margin-left: 5rem;
    }
    .header-links {
        float: right;
        margin-top: 5.5rem;
        margin-right: 3.5rem;
        a {
            font-size: 1rem;
            text-decoration: none;
            padding: 1.5rem;
            color: $white
        }
    }
}

.top {
    
    .hero {
        margin-left: 25%;
        margin-top: 5%;
    }
    h1 {
        color: $white;
        width: 725px;
        font-size: 2.5rem;
        text-align: center;
        margin-left: 25%;
        margin-top: 3rem;
        font-weight: 700;
        font-family: 'Raleway', ;
        margin-bottom: 2rem;
    }
    p {
        color: $white;
        text-align: center;
        font-size: 1.25rem;
        width: 626px;
        margin: 0 auto;
        
    }
    .button {
        color: $white;
        background-color: $blue;
        border: none;
        border-radius: 25px;
        width: 279px;
        margin-top: 2rem;
        font-family: 'Raleway', ;
        font-size: 1rem;
        height: 50px;
        margin-left: 40%;
    }
}

.middle {
    margin-top: 15%;
    background-color: $darkBlueBackground;
    .desktop {
        
        position: relative;
        margin-top: -35%;
        z-index: -1;
    }
    img.mobile {
        display: none;
    }

    .featureBox {
       display: flex;
       width: 1000px;
       height: 600px;
       flex-direction: row;
       margin: 0 18rem;
       flex-wrap: wrap;
       
        
        
    }
    
    .box {
        padding-top: 2rem;
        width: 450px;
        h3 {
            font-size: 1.25rem;;
            color: $white;
            text-align: center;
            font-weight: 700;
            font-family: 'Raleway', ;
        }
        p {
            width: 375px;
            color: $white;
            text-align: center;
            margin: 0 auto;
        }
        img {
            margin-left: 11rem;
            margin-top: .5rem;
        }
    }
   #box1-h3 {
       margin-top: 2rem;
   }
}

.bottom {
    height: 1280px;
    background-color: $darkBlueBackground;
    .bottomCall {
        margin-bottom: 8rem;
        img {
            margin-top: 5.75rem;
            margin-left: 6.75rem;
        }
        .wordBox {
            margin-right: 4rem;
            margin-top: 12rem;
            float: right;
            width: 600px;
            h1 {
                font-family: 'Raleway', ;
                color: $white;
                width: 365px;
                font-size: 2.5em;
            }
            p {
                color: $white;
                width: 550px;
                font-size: 1rem;   
            }
            a  {
                color: $cyan;
                text-decoration: none;
                border-bottom: 1px solid $cyan;
                padding-right: 20px;
                padding-bottom: 5px;
            }
            img {
                margin-left: -1rem;
                margin-top: 1rem;
                margin-bottom: -.25rem;
            }
        }
    }
    img.quotes {
        z-index: -1;
        margin-bottom: -1rem;
        margin-left: 3.5rem;
       

       }
    .testimonials {
       
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       width: 90%;
       
       margin: 0 auto;
       
       .testBox {
           width: 400px;
           height: auto;
           background-color: $darkBlueTestimonial;
           color: $white;
           padding-bottom: 2rem;
           box-shadow: 8px 8px 8px $darkBlue;
           img {
               width: 25px;
               border-radius: 50%;
               margin-left: 2rem;
           }
           p {
               width: 300px;
               margin: 2rem auto;
           }
           span.name {
            font-size: .75rem;
            margin-left: .25rem;
            position: absolute;
            margin-top: -.25rem;
            
            
            
           }
           span.title {
               font-size: .5rem;
               margin-left: .25rem;
               
           }
           
       }
    }
}

.inset {
    z-index: 9;
    position: relative;
    width: 865px;
    background-color: $darkBlue; 
    box-shadow: 8px 8px 8px hsla(0,0,0, .25);
    margin-top: -10rem;
    height: 275px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    color: $white;
    h1 {
      padding-top: 3rem;
      font-family: 'Raleway', ; 
      text-align: center;
      font-size: 2rem;
    }
    p {
        text-align: center;
        width: 630px;
        margin: 0 auto;
    }
    input {
        width: 480px;
        height: 45px;
        border-radius: 25px;
        margin-top: 2.75rem;
        margin-left: 5rem;
        border: none;
        
    }
    input::placeholder {
        padding-left: 2rem;
    }
    .buttonFree {
        color: $white;
        background-color: $blue;
        border: none;
        border-radius: 25px;
        width: 200px;
        margin-left: 2rem;
        font-family: 'Raleway', ;
        font-size: .90rem;
        height: 50px;
       
    }
 }


 footer {
     color: $white;
     background-color: $darkBlueFooter;
     height: 515px;
     margin-top: -8.5rem;
     .logo {
        margin-top: 14rem;
        margin-left: 7.5rem;
     }
     .contactBox {
         margin-top: 3rem;
         width: 90%;
         
         margin-left: 5rem;
         border: 1px solid red;
         .locationBox {
            border: 1px solid red;
            float: left;
            width: 400px;
            span {
                width: 300px;
                border: 1px solid red;
                display: block;
                margin-left: 2.5rem;
                margin-top: -1.5rem;
            }
         }
         .phoneBox {
            border: 1px solid red;
            width: 300px;
            margin-left: 20rem;
            span {
                margin-left: 1.5rem;
            }
         }
         .emailBox {
            padding-top: .75rem;
            border: 1px solid red;
            width: 300px;
            margin-left: 20rem;
            span {
                margin-left: 1.5rem;
            }
         }
         .link1 {
            border: 1px solid red;
            width: 80px;
            margin-left: 46rem;
            margin-top: -3.75rem;
            
            a {
                display: block;
                font-size: 1rem;
                text-decoration: none;
                color: $white;
                padding-bottom: .75rem;
                
            }
         }
         .link2 {
            border: 1px solid red;
            width: 80px;
            margin-left: 58rem;
           margin-top: -8.5rem;
            
            a {
                display: block;
                font-size: 1rem;
                text-decoration: none;
                color: $white;
                padding-bottom: .75rem;
                
            }
         }
        
        
        #social {
            width: 200px;
            float: right;
            margin-top: -7.75rem;
         }
         #social i {
             text-align: center;
             border: 1px solid white;
             width: 30px;
             height: 30px;
             border-radius: 100%;
             margin-right: 17px;
             line-height: 2;
             
         }

         
     }

 }
 .attribution {
     height: 0px;
     margin-top: -2rem;
     color: $white;
     a {
         color: $white;
         text-decoration: none;
     }
     a:link {
         color: $white;
     }
 }
